name: Deploy Pages

on:
  push:
    branches:
      - gh-pages # Triggers when the Source Repo pushes the built files here

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout pushed files
        uses: actions/checkout@v5
        with:
          ref: gh-pages # Checks out the newly pushed HTML/CSS files

      - name: Configure Pages
        uses: actions/configure-pages@v5

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.' # Uploads everything from the gh-pages branch

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
